* {
    margin: 0;
    box-sizing: border-box;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

html, body {
    overflow-y: hidden;
    height: 100%;
}

@font-face {
    font-family: symtext;
    src: url(symtext.ttf);
}

body {
    background-image: url(background.png);
}

h1 {
    margin-top: -30px;
    font-size: 250px;
    color: red;
}

#start {
    display: block;
    z-index: 500;
    position: fixed;
    top: 10;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    font-size: 60px;
    text-align: center;
    font-family: symtext;
}

#playbutton {
    line-height: 200px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-style: dashed;
    width: 600px;
    height: 200px;
    background-color: orange;
    cursor: pointer;
}

#introbox {
    line-height: 200px;
    vertical-align: middle;
    position: absolute;
    left: 10%;
    top: 50%;
    border: 5px solid black;
    border-style: dashed;
    width: 600px;
    height: 600px;
    background-color: #232426;
    cursor: pointer;
    opacity: 1;
}

#rules {
    font-family: symtext;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    top: 555px;
    position: absolute;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

#madeby {
    font-family: symtext;
    color: gray;
    font-size: 25px;
    width: 100%;
    text-align: center;
    bottom: 20px;
    position: absolute;
}

#madebymain {
    font-family: symtext;
    color: black;
    font-size: 5px;
    width: 100%;
    text-align: center;
    bottom: 6px;
    position: absolute;
}

#playagain {
    display: none;
    z-index: 400;
    position: fixed;
    top: 110px;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    font-size: 60px;
    text-align: center;
    font-family: symtext;
}

#againbutton {
    line-height: 200px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-style: dotted;
    width: 600px;
    height: 200px;
    background-color: orange;
    cursor: pointer;
}

#p1type {
    width: 300px;
    height: 50px;
    background: Gainsboro;
    position: absolute;
    left: 30px;
    top: 200px;
    font-family: symtext;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 3px black solid;
}

#p2type {
    width: 300px;
    height: 50px;
    background: yellow;
    position: absolute;
    right: 30px;
    top: 200px;
    font-family: symtext;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 3px black solid;
}

#p1wins {
    width: 300px;
    height: 50px;
    background: Gainsboro;
    position: absolute;
    left: 30px;
    top: 400px;
    font-family: symtext;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 3px black solid;
}

#p2wins {
    width: 300px;
    height: 50px;
    background: yellow;
    position: absolute;
    right: 30px;
    top: 400px;
    font-family: symtext;
    font-size: 30px;
    text-align: center;
    color: black;
    border: 3px black solid;
}

#p2wins h1 {
    margin-right: -20px;
}

#stopmusic {
    width: 150px;
    height: 25px;
    background: black;
    position: absolute;
    right: 50px;
    bottom: 30px;
    font-family: symtext;
    font-size: 15px;
    text-align: center;
    color: white;
    border: 0px;
    cursor: pointer;
}

#resetgame {
    width: 150px;
    height: 25px;
    background: red;
    position: absolute;
    right: 50px;
    bottom: 60px;
    font-family: symtext;
    font-size: 15px;
    text-align: center;
    color: white;
    border: 0px;
    cursor: pointer;
}

.playerbox {
    top: 10px;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 50%;
    background: orange;
    transform: translateX(-50%);
    font-size: 60px;
    text-align: center;
    font-family: symtext;
    opacity: 0.9;
    border: 5px solid black;
    border-style: dashed;
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: #232426;
    border-radius: 5%;
    opacity: 0.9;
    border: black dashed 4px;
}

#box {
    margin-top: 50px;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player1 .hole {
    transition: 1s;
    background-color: Gainsboro;
    border: dashed black 6px;
}

.player2 .hole {
    transition: 1s;
    background-color: yellow;
    border: dashed black 6px;
}

.slot.winner .hole {
    position: absolute;
    transition: 5s;
    height: 300px;
    width: 300px;
    z-index: 500;
    transform: rotate(360deg);
    border: dashed black 16px
}